.infoBox {
    position: absolute;
    top: 40px;
    right: 40px;
    width: 400px;
    height: 80%;
    overflow: auto;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.8);
    padding: 24px;
}

.button {
    display: block;
    right: 40px;
    bottom: 40px;
    width: 400px;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #000;
    background: #fff;
    z-index: 10;
    cursor: pointer;
}

.buttonGroup {
    position: absolute;
    display: flex;
    justify-content: space-between;
}

.vegButtonGroups {
    width: 100%;
    margin-top: 16px;
    display: flex;
    justify-content: space-between;
}

.vegButton {
    width: 48%;
    height: 60px;
    background: rgb(27, 155, 38);
    border-radius: 4px;
    padding: 8px;
    cursor: pointer;
}

.vegButton:hover {
    background: rgb(87, 220, 129);
}